<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

  <!-- CSS Básico -->
  <link rel="stylesheet" href="/stylesheets/basico.css" />
  <!-- CSS adicionar_vaquejada_bd.css -->
  <link rel="stylesheet" href="/stylesheets/adicionar_vaquejada_bd.css" />

  <title>Adicionar vaquejada</title>
</head>

<body>
  <header>
    <!-- Navegação -->
    <div class="header-container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="/" class="navbar-brand">
          <img src="/images/logos/conect_logo.png" alt="logo conect vaquejada" />
        </a>

        <!-- Navbar-links -->

        <div class="collapse navbar-collapse justify-content-between" id="navbarToggleExternalContent">
          <div class="navbar-nav">
            <a href="/adm" class="nav-item nav-link mr-1">INICIO</a>
            <a href="/vaquejadasParaAdms" class="nav-item nav-link mr-1">VAQUEJADAS</a>
            <a href="/solicitacoes" class="nav-item nav-link mr-1">SOLICITAÇÕES</a>
            <a href="/operations/deslogar" class="btn mr-1 botão">DESLOGAR</a>
          </div>
        </div>
        <div class="pos-t-f">
          <nav class="navbar navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
              aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        </div>
        <!-- </div> -->
        <!-- Fim do navbar links -->
      </nav>
      <!-- Fim da navegação -->
    </div>
  </header>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-7">
          <!-- action="/operations/adicionar_vaquejadas" -->
          <form method="POST" action="/operations/adicionar_vaquejadas" enctype="multipart/form-data">
            <!-- Nome: <input type="text" name="name" /><br /> -->
            <div class="form-group texto">
              <label for="nome-vaquejada">NOME DA VAQUEJADA:</label>
              <input type="text" class="form-control inputs-formularios input_grande" id="nome-vaquejada"
                name="nomeVaquejada" />
            </div>

            <div class="form-row">
              <div class="form-group col-5 texto">
                <label for="nome-dono">NOME DO DONO:</label>
                <input type="text" class="form-control inputs-formularios input_medio" id="nome-dono" name="nomeDono" />
              </div>

              <div class="form-group col-5 texto">
                <label for="status">STATUS:</label>
                <select id="status" class="form-control inputs-formularios input_medio input-status" name="status">
                  <option value="pendente">PENDENTE</option>
                  <option value="negado">NEGADO</option>
                  <option value="confirmado">CONFIRMADO</option>
                </select>
              </div>
            </div>

            <div class="form-row texto mt-2">

              <div class="input-group">
                <div class="custom-file">
                  <label class="custom-file-label inputs-formularios input_grande" for="photo">Escolher
                    foto</label>
                  <input type="file" class="custom-file-input" id="photo" name="photo">
                </div>
              </div>
            </div>

            <div class="form-row texto mt-4">

              <div class="input-group">
                <div class="custom-file">
                  <label class="custom-file-label inputs-formularios input_grande" for="banner">Escolher
                    banner</label>
                  <input type="file" class="custom-file-input" id="banner" name="banner">
                </div>
              </div>
            </div>

            <div class="form-group texto mt-3">

              <div class="form-group">
                <label for="descrição">DESCRIÇÃO:</label>
                <textarea class="form-control inputs-formularios input_grande" rows="5" name="descricaoVaquejada"
                  placeholder="Descreva o melhor possivel sua vaquejada!"></textarea>
              </div>

            </div>


            <!-- CATEGORIAS: -->

            <div class="form-row texto">
              <div class="form-group col">
                <label for="numero-categorias">NÚMERO DE CATEGORIAS:</label>
                <input type="number" class="form-control inputs-formularios input_grande" id="numero-categorias"
                  name="numero_categorias" placeholder="Digite o numero de categorias" />
              </div>
            </div>

            <div class="form-row texto">
              <div id="input-categorias-nomes">
                <!-- INPUTS DE INFORMAÇÕES PARA CADA CATEGORIA -->
              </div>
            </div>

            <div class="form-row texto">

              <div class="form-group col">
                <label for="regrasDaVaquejada">REGRAS DA VAQUEJADA:</label>
                <textarea name="regrasDaVaquejada" id="regrasDaVaquejada" cols="10" rows="5"
                  class="form-control inputs-formularios input_grande"></textarea>
              </div>

            </div>

            <div class="form-row texto">

              <div class="form-group col">
                <label for="ordemDaVaquejada">ORDEM DA VAQUEJADA:</label>
                <textarea name="ordemDaVaquejada" id="ordemDaVaquejada" cols="10" rows="5"
                  class="form-control inputs-formularios input_grande"></textarea>
              </div>

            </div>

            <div class="form-row">
              <input type="submit" class="btn btn-env" value="ADICIONAR VAQUEJADA" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script src="./javascripts/input-categorias.js"></script>

  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <% if (erro==='ErroNasSenhas' ) { %>
    <script>
      alert("Erro! Adicione a vaquejada novamente!");
    </script>
    <% } else if (erro !=undefined) { %>
      <script>
        alert("Campos incompletos!");
      </script>
      <% } %>
</body>

</html>