.main-text-img {
  width: 334px;
  height: 161px;
  margin-left: 150px;
}

.inputs-forms {
  height: 37px;
  font-size: 19px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(255, 255, 255, 0.7);
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 60vh;
}

/* Mobile */
@media (max-width: 480px) {
  .container-fluid {
    justify-content: start;
  }

  .container-fluid .row {
    flex-direction: column;
    align-content: start;
    justify-content: start;
  }

  .main-text-img {
    width: 180px;
    height: 90px;
    margin-left: 30px;
  }

  .form-container {
     margin-left: 50px;
   }
 
   .form-container .form-row {
      width: 320px;
   }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
  .container-fluid .row {
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
  }

  .main-text-img {
    width: 200px;
    height: 90px;
    margin-left: 30px;
  }

  .form-container {
    margin-left: 50px;
  }

  .form-container .form-row {
     width: 320px;
  }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    justify-content: start;
    padding-left: 150px;
  }

  .container-fluid .row {
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
  }

  .main-text-img {
    width: 270px;
    height: 120px;
    margin-left: 30px;
  }

  .row {
    display: flex;
    justify-content: center;
  }
}
