:root {
  --cor-botão: #0671ef;
  --cor-branco: #ffffff;
  --cor-preta: #000000;
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url("/images/background/background_imagem.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin-left: 350px;
}

.center-container .conteudo_centralizado {
  width: 400px;
}

#vaquejadas_online_button {
  width: max-content;
  color: var(--cor-branco);
  margin: 12px 20px;
}

.navbar-nav {
  align-items: center;
}

/* Mobile */
@media (max-width: 480px) {
  body {
    background-size: cover;
  }

  .navbar-dark .navbar-nav .nav-link  {
    text-align: end;
  }

  .botão {
    font-size: 14px;
  } 

  .center-container, .center-container img {
    margin-left: 20px;
  }
  .center-container .conteudo_centralizado {
    width: 250px;
  }

  #vaquejadas_online_button {
    font-size: 16px;
  }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-size: auto;
  }

  .navbar-dark .navbar-nav .nav-link  {
    text-align: end;
  }

  .center-container {
    margin-left: 50px;
  }

  .center-container .conteudo_centralizado {
    width: 270px;
  }

  #vaquejadas_online_button {
    font-size: 16px;
  }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-size: cover;
  }

 .center-container {
    margin-left: 80px;
  }

  .center-container .conteudo_centralizado {
    width: 330px;
  }
}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background-size: cover;
  }

  header {
    font-size: 18px;
  }

  header .navbar-dark .navbar-nav .nav-link {
    margin-right: 8px !important;
  }

  .center-container {
    margin-left: 100px;
  }
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {
  body {
    background-size: auto;
  }
  header .navbar-dark .navbar-nav .nav-link {
    margin-right: 16px !important;
  }
}
