:root {
     --cor-background: #00266F;
     --cor-background-container: #D9D9D9;
     --cor-texto: #070707;
}

body {
     background-color: var(--cor-background);
}

.container {
     background-color: var(--cor-background-container);
     width: 430px;
     height: 450px;
     border-radius: 30px;
     margin-top: 20px;
}

.logo {
     width: 380px;
}

.texto-formulario {
     color: var(--cor-texto);
     font-size: 17px;
}

.radios {
     margin-top: 30px;
     margin-bottom: 40px;
     font-size: 20px;
     text-align: center;
     font-weight: 400;
}

.btn-entrar {
     width: 200px;
     font-size: 20px;
     margin-top: 15px;
}

.span-email {
     font-size: 10px;
}

.form-check {
     padding-left: 0;
}

label {
     margin-bottom: 0;
}

/* Mobile */
@media (max-width: 480px) {

     body {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
     }

     .navbar-brand {
          margin-right: 0;
     }

     .container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 50px 15px;
          width: 350px;
     }

     #email, #senha  {
          width: 300px;
     }

     .container form {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .btn-entrar {
          font-size: 18px;
          width: 180px;
     }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {

     body {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
     }

     .container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 50px auto;
          width: 400px;
     }

     #email, #senha  {
          width: 350px;
     }

     .container form {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .btn-entrar {
          font-size: 18px;
          width: 180px;
     }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
     body {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
     }

     .container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 50px auto;
          width: 400px;
     }

     #email, #senha  {
          width: 350px;
     }

     .container form {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
     body {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
     }

     .container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 50px auto;
          width: 400px;
     }

     #email, #senha  {
          width: 350px;
     }

     .container form {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {
     body {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
     }

     .container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 50px auto;
          width: 400px;
     }

     #email, #senha  {
          width: 350px;
     }

     .container form {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
}

/* Extra large screens */
@media (min-width: 1920px) {}