:root {
  --cor-adicionar-vaquejada: rgba(217, 217, 217, 0.5);
  --cor-circulo: #d9d9d9;
  --cor-mais: #000000;
}

.container-fluid {
  display: flex;
  justify-content: space-evenly;
  max-width: 80vw;
  min-height: auto;
}

.container-fluid .row {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.texto-principal {
  width: 334px;
  height: 161px;
}

.container-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.card {
  width: 280px;
  margin-bottom: 30px;
  border: none;
  margin: 5px;
}

.card img {
  height: 400px;
  object-fit: cover;
}

.row {
  margin-bottom: 30px;
}

.adicionar-vaquejada {
  width: 280px;
  height: 400px;
  background-color: var(--cor-adicionar-vaquejada);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--cor-circulo);
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--cor-mais);
}

a:hover {
  color: #0673ef4a;
  text-decoration: none;
}

.texto-circulo {
  color: #d9d9d9;
  display: flex;
  align-items: end;
}

/* Mobile */
@media (max-width: 480px) {
  .container-fluid {
    justify-content: center;
  }

  .container-fluid .row {
    flex-direction: column;
    align-content: start;
    justify-content: start;
  }

  .texto-principal {
    width: 180px;
    height: 90px;
  }

  .container-fluid .row .container-cards {
    width: 400px;
    align-items: center;
    flex-wrap: wrap;
  }

  .card, .adicionar-vaquejada {
    width: 180px;
    height: 270px;
  }

  .circulo {
    width: 75px;
    height: 75px;
  }

  .texto-circulo h4 {
    font-size: 22px;
  }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
  .container-fluid {
    /* flex-direction: column; */
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
  }

  .container-fluid .banner-card {
    display: flex;
    max-width: fit-content;
  }
  
  .texto-principal {
    width: 200px;
    height: 90px;
  }
  
  .container-fluid .row .container-cards {
    width: 460px;
    align-items: center;
    padding-top: 20px;
  }

  .card, .adicionar-vaquejada {
    width: 180px;
    height: 300px;
  }

  .circulo {
    width: 75px;
    height: 75px;
  }

  .texto-circulo h4 {
    font-size: 22px;
  }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    justify-content: center;
  }
  
  .container-fluid .row {
    flex-wrap: wrap;
    justify-content: start;
  }

  .cards {
    display: flex;
    align-self: start;
    align-content: space-evenly;
  }
  
  .card {
    margin: 10px;
    
  }

  .texto-principal {
    width: 270px;
    height: 120px;
  }

  .card, .adicionar-vaquejada, .col-5 {
    box-sizing: border-box;
    width: 200px;
    height: 320px;
  }

  .circulo {
    width: 75px;
    height: 75px;
  }

  .texto-circulo h4 {
    font-size: 22px;
  }
}
