:root {
     --cor-background: #00266F;
     --cor-texto: #FFFFFF;
     --cor-footer: #0671EF;
}

header {
     height: 10vh;
}

body {
     background-color: var(--cor-background);
     display: flex;
     flex-direction: column;
     height: 100vh;
}

#carousel {
     margin-bottom: 20px;
     border-radius: 20px;
}

.col-md-6 img {
     width: 540px;
     height: 150px;
     border-radius: 20px;
}

.btn-categoria {
     width: 210px;
     margin-left: 330px;
}

.selecionar {
     margin-top: 8px;
}

.texto-selecione {
     padding-top: 10px;
}

.img-banner {
     height: 410px;
     object-fit: cover;
     object-position: top;
}

.gif-img {
     object-fit: cover;
}

section {
     margin-bottom: 30px;
     flex: 1;
}

/* Mobile */
@media (max-width: 480px) {
     .navbar-brand img {
          width: 250px;
     }

     .navbar .navbar-dark {
          left: 300px;
     }

     body {
          max-width: max-content;
     }

     .col-md-6 img {
          width: 360px;
     }

     .col-md-6:nth-child(2) {
          display: flex;
          justify-content: center;
     }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
     .col-md-6 img {
          width: 360px;
     }
     
     .col-md-6:nth-child(2) {
          display: flex;
          justify-content: center;
     }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
     .col-md-6 img{
          width: 360px;
     }
}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
     
     .navbar-dark .navbar-brand {
          width: 300px;
     }

     .navbar {
          font-size: 16px;
          text-align: center;
     }

     .navbar-nav {
          align-items: center;
     }

     .col-md-6 img {
          width: 440px;
     }
}
